In [17]:
## Quiz 1
jumlahPisang = input("masukan jumlah pisang dibeli : ")
jumlahPisangint = int(jumlahPisang)
hargaPisang = 3000
totalHarga = jumlahPisangint*hargaPisang
if  totalHarga > 100000:
    diskon = 10
    hargaPotongan=totalHarga*diskon//100
    totalHargaBaru = totalHarga-hargaPotongan
elif totalHarga>50000 and totalHarga<100000:
    diskon = 5
    hargaPotongan=totalHarga*diskon//100
    totalHargaBaru = totalHarga-hargaPotongan
else:
    print("total harga :",totalHarga)
    
print('Total Belanja Anda Adalah IDR {}({} di diskon {} %)'.format(totalHargaBaru,totalHarga,diskon))

masukan jumlah pisang dibeli : 30
Total Belanja Anda Adalah IDR 85500(90000 di diskon 5 %)

In [19]:
umur  = 37
s = "tua" if umur >=  35 else "muda"
print(s)

tua

In [20]:
nama = "fahri"
n = 'in class' if nama in ['nicho','danang'] else 'nama tidak ditemukan'
print(n)

nama tidak ditemukan

In [24]:
uang = 100000
output ='Kamu kaya banget 'if uang >4000 else'Miskin banget lu'
print(output)

Kamu kaya banget

In [34]:
#Quiz2
inputGaji = input("Berapa gaji anda  : ")
inputGaji = int(inputGaji)

inputTahun = input("Year of service  : ")
inputTahun = int(inputTahun)

if inputTahun>10:
    bonus = inputGaji*10//100
    gaji = inputGaji + bonus
    print("Selamat! Anda mendapatkan Bonus! Total Gaji anda IDR ",gaji)
else:
    print("Maaf! Anda tidak mednapatkan Bonus. Gaji anda IDR ",inputGaji)

Berapa gaji anda  : 10000000
Year of service  : 10
Maaf! Anda tidak mednapatkan Bonus. Gaji anda IDR  10000000

## loop

In [38]:
for i in ['foo','bar','baz','qux','quux','corge']:
    print(i + 'ayam')

fooayam
barayam
bazayam
quxayam
quuxayam
corgeayam

In [42]:
for i in[1,2,3,4]:
    print(f'{i} Objek yang bisa dilakukan looping  = iterable')

1 Objek yang bisa dilakukan looping  = iterable
2 Objek yang bisa dilakukan looping  = iterable
3 Objek yang bisa dilakukan looping  = iterable
4 Objek yang bisa dilakukan looping  = iterable

In [43]:
for i in "string":
    print(i)

s
t
r
i
n
g

# WHILE

In [10]:
apel = 5
while apel>0:
    apel-=1
    print(f'{apel} di dalam keranjang')
    if apel==1:
        print("Mantap")
    else:
        print("Terlalu penuh")

4 di dalam keranjang
Terlalu penuh
3 di dalam keranjang
Terlalu penuh
2 di dalam keranjang
Terlalu penuh
1 di dalam keranjang
Mantap
0 di dalam keranjang
Terlalu penuh

In [ ]:
apel = 5
apel -=1
print(apel)

# BREAK

In [20]:
#Memberhentikan loop atau perulangan
apel = 5
while apel>0:
    apel -= 1
    if apel ==2:
        break
    print(apel)
print("Looped ended")

4
3
Looped ended

In [22]:
#Memberhentikan loop atau perulangan
apel = 5
while apel>0:
    apel -= 1
    print(apel)
    if apel ==2:
        break
else:
    print("Looped ended")

4
3
2

## CONTINUE

In [17]:
#melanjutkan loop atau perulangan berdasarkan kondisi
apel = 5
while apel>0:
    apel -= 1
    if apel ==2:
        continue
    print(apel)
print("Looped ended")

4
3
1
0
Looped ended

In [19]:
#while else
apel = 10
while apel > 0:
    apel -=2
    print(apel)
else:
    print("Loop ended")

8
6
4
2
0
Loop ended

## Nested IF = Else & Loops

In [25]:
#nested if 
umur = 23
gender = 'S'
if umur  >18:
    if gender =='M':
        print('son')
    else:
        print('Daugther')

Daugther

## For Loop

In [32]:
a = ['Nicho',2,3,4,5,6]
for i in a:
    print(i)

Nicho
2
3
4
5
6

In [35]:
b = ['Budi','Joko','Anwar']
for i in b:
    print(i)

Budi
Joko
Anwar

In [2]:
b = ['Budi','Joko','Anwar']
for i in b: #isi dari i adalah list dari b
    print(i)
    for j in i: #isi dari j adalah i. Jika isinya 'budi' brati anggota j = b,u,d,i
        print(j)

Budi
B
u
d
i
Joko
J
o
k
o
Anwar
A
n
w
a
r

In [5]:
b = ['Budi','Joko','Anwar']
for i in b:
    if i == "Anwar":
        continue
    for j in i:
        print(j)

B
u
d
i
J
o
k
o

In [61]:
dictionary_a = {'A':'Bekasi',
               'B':'Jakarta',
               'C':'Medan'}
for i in dictionary_a: # ngeprint keys
    print(i)
    
for i in dictionary_a: # ngeprint  values
    print(dictionary_a[i])

A
B
C
Bekasi
Jakarta
Medan

In [67]:
dictionary_a = {'A':'Bekasi',
               'B':'Jakarta',
               'C':'Medan'}
for i in dictionary_a: # ngeprint keys
    if i =='A':
        print(i)

A

In [70]:
for i in ['aster','jubah','Nambo','hachi']:
    if 'b' in i:
        continue #melanjutkan
    print(i)

aster
hachi

In [72]:
for i in ['aster','jubah','Nambo','hachi']:
    if 'b' in i:
        pass #mengabaikan if, jadi pass itu tidak mempedulikankondisi (operasi kosong)
    print(i)

aster
jubah
Nambo
hachi

In [71]:
for i in ['aster','jubah','Nambo','hachi']:
    if 'b' in i:
        break #break memotogng 
    print(i)

aster

1.  loop itu keseluruhan iterasi objek 1 loop
2.  iterasi adalah istilah 1 putaran loop
3.  continue memberhentikan iterasi dan lanjut ke iterasi berikutnya
4.  break akan memberhentikan looping keseluruhan

In [75]:
for i in ['aster','jubah','Nambo','hachi']:
    print(i)
else:
    print('loop Done')

aster
jubah
Nambo
hachi
loop Done

In [82]:
for i in range(1,50+1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [78]:
print(range(2,4))

range(2, 4)

## ITEMS

In [95]:
a= [1,2,3]
b= [4,5,6]
c= [7,8,9]
for i,j,k in zip(a,b,c):
    print(i,j,k)
    
    ## zip menyatukan 2 list

1 4 7
2 5 8
3 6 9

In [106]:
a = range(1,20+1)

for i in a:
    if i%2==1:
        print(i)
    else:
        print('GENAP')

1
GENAP
3
GENAP
5
GENAP
7
GENAP
9
GENAP
11
GENAP
13
GENAP
15
GENAP
17
GENAP
19
GENAP

In [107]:
i = 1
while i<21 :
    if i%2 == 1:
        print(i)
    else:
        print("GENAP")
    i +=1

1
GENAP
3
GENAP
5
GENAP
7
GENAP
9
GENAP
11
GENAP
13
GENAP
15
GENAP
17
GENAP
19
GENAP

In [4]:
b = ['Budi','Joko','Anwar']

print('dzaki' in b)
print('Joko' in b)

False
True